<html lang="ru">

<head>
    <%- include("partials/head.ejs") %>
        <style>
            .col-xs-12 {
                width: 60%;
            }
            
            .box {
                position: relative;
                border-radius: 3px;
                background: #ffffff;
                border-top: 3px solid #d2d6de;
                margin-bottom: 20px;
                width: 100%;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            }
            
            .box-header {
                color: #444;
                display: block;
                padding: 10px;
                position: relative;
            }
            
            header .box-title {
                display: inline-block;
                font-size: 18px;
                margin: 0;
                line-height: 1;
            }
            
            .box-header>.box-tools {
                position: absolute;
                right: 10px;
                top: 5px;
            }
            
            .no-padding {
                padding: 0 !important;
            }
            
            .box-body {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                padding: 10px;
            }
            
            .table-responsive {
                min-height: .01%;
                overflow-x: auto;
            }
            
            .box-body>.table {
                margin-bottom: 0;
            }
            
            .table {
                width: 90%;
                max-width: 100%;
                margin-bottom: 20px;
            }
            
            table {
                background-color: transparent;
            }
            
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            
            tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
            }
            
            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                text-align: center;
            }
            
            .table>tbody>tr>th {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
            
            .table>tbody>tr>td {
                border-top: 1px solid #f4f4f4;
            }
            
            .table>tbody>tr>td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
            
            .label {
                display: inline;
                padding: .2em .6em .3em;
                font-size: 75%;
                font-weight: 700;
                line-height: 1;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25em;
            }
            
            .label-success {
                background-color: #00a65a !important;
            }
            
            .label-warning {
                background-color: #f39c12 !important;
            }
            
            .label-danger {
                background-color: #dd4b39 !important;
            }
        </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include("partials/sidebar.ejs") %>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include("partials/topbar.ejs") %>
                        <div class="container-fluid">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Панель статусов абонентов Asterisk</h1>
                            </div>



                            <div class="row">
                                <div class="col">
                                    <!-- Default Card Example -->
                                    <div class="card mb-4">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table table-hover">
                                                    <tbody style="font-size: small;">
                                                        <tr>
                                                            <th>Внутренний</th>
                                                            <th>Имя</th>
                                                            <th>BLF</th>
                                                            <th>LDS</th>
                                                            <th>Перевод</th>
                                                        </tr>
                                                        <tr>
                                                            <td>183</td>
                                                            <td>John Doe</td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>219</td>
                                                            <td>Alexander Pierce</td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>175</td>
                                                            <td>Mike Doe</td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>

                                    <div class="card shadow mb-4">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table table-hover">
                                                    <tbody style="font-size: small;">
                                                        <tr>
                                                            <th>Внутренний</th>
                                                            <th>Имя</th>
                                                            <th>BLF</th>
                                                            <th>LDS</th>
                                                            <th>Перевод</th>
                                                        </tr>
                                                        <tr>
                                                            <td>183</td>
                                                            <td>John Doe</td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>219</td>
                                                            <td>Alexander Pierce</td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>175</td>
                                                            <td>Mike Doe</td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>

                                </div>

                                <div class="col">

                                    <div class="card shadow mb-4">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table table-hover">
                                                    <tbody style="font-size: small;">
                                                        <tr>
                                                            <th>Внутренний</th>
                                                            <th>Имя</th>
                                                            <th>BLF</th>
                                                            <th>LDS</th>
                                                            <th>Перевод</th>
                                                        </tr>
                                                        <tr>
                                                            <td>183</td>
                                                            <td>John Doe</td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>219</td>
                                                            <td>Alexander Pierce</td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>175</td>
                                                            <td>Mike Doe</td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>

                                    <div class="card shadow mb-4">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table table-hover">
                                                    <tbody style="font-size: small;">
                                                        <tr>
                                                            <th>Внутренний</th>
                                                            <th>Имя</th>
                                                            <th>BLF</th>
                                                            <th>LDS</th>
                                                            <th>Перевод</th>
                                                        </tr>
                                                        <tr>
                                                            <td>183</td>
                                                            <td>John Doe</td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td><span class="label label-success">Свободен</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>219</td>
                                                            <td>Alexander Pierce</td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td><span class="label label-warning">Разговаривает</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>175</td>
                                                            <td>Mike Doe</td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td><span class="label label-danger">Не зарегистрирован</span></td>
                                                            <td>
                                                                <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                    <i class="fas fa-check"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                </div>
                <%- include("partials/footer.ejs") %>
            </div>
    </div>
    <%- include("partials/logout.ejs") %>
        <%- include("partials/script.ejs") %>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    console.log(localStorage.getItem('extension'));
                    let extesion = document.querySelector('#userDropdown');
                    extesion.innerHTML = `<span class="mr-2 d-none d-lg-inline text-gray-600 small">Добавочный ${localStorage.getItem('extension')}</span>
                                        <img class="img-profile rounded-circle" src="https://source.unsplash.com/random/60x60">`;
                });
            </script>
</body>

</html>